.shimmer {
  animation: shimmer 1.5s infinite;
  aspect-ratio: 2/3;
  background: linear-gradient(to right, #333 0%, #444 50%, #333 100%);
  background-size: 200% 100%;
  width: 100%;
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
