.movie-list-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.movie-item-image {
  aspect-ratio: 2/3;
  flex-shrink: 0;
  width: 100%;
}

.movie-item-name {
  color: var(--text-color);
  flex-shrink: 1;
  font-family: "Titillium Web";
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
